Tests/Service References/CategoriesServiceSelfHosting/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://epam.com/NorthwindService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://epam.com/NorthwindService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://epam.com/NorthwindService/Imports">
      <xsd:import schemaLocation="http://epruizhw0228:8733/Design_Time_Addresses/NorthwindWCFServices/CategoriesService/?xsd=xsd0" namespace="http://epam.com/NorthwindService" />
      <xsd:import schemaLocation="http://epruizhw0228:8733/Design_Time_Addresses/NorthwindWCFServices/CategoriesService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://epruizhw0228:8733/Design_Time_Addresses/NorthwindWCFServices/CategoriesService/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://epruizhw0228:8733/Design_Time_Addresses/NorthwindWCFServices/CategoriesService/?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICategoriesService_GetCategoryNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryNames" />
  </wsdl:message>
  <wsdl:message name="ICategoriesService_GetCategoryNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryNamesResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoriesService_GetCategoryImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryImage" />
  </wsdl:message>
  <wsdl:message name="ICategoriesService_GetCategoryImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryImageResponse" />
  </wsdl:message>
  <wsdl:message name="SendingCategory">
    <wsdl:part name="parameters" element="tns:SendingCategory" />
  </wsdl:message>
  <wsdl:message name="SendingCategory_Headers">
    <wsdl:part name="CategoryName" element="tns:CategoryName" />
  </wsdl:message>
  <wsdl:message name="ICategoriesService_SaveCategoryImage_OutputMessage" />
  <wsdl:portType name="ICategoriesService">
    <wsdl:operation name="GetCategoryNames">
      <wsdl:input wsaw:Action="http://epam.com/NorthwindService/ICategoriesService/GetCategoryNames" message="tns:ICategoriesService_GetCategoryNames_InputMessage" />
      <wsdl:output wsaw:Action="http://epam.com/NorthwindService/ICategoriesService/GetCategoryNamesResponse" message="tns:ICategoriesService_GetCategoryNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoryImage">
      <wsdl:input wsaw:Action="http://epam.com/NorthwindService/ICategoriesService/GetCategoryImage" message="tns:ICategoriesService_GetCategoryImage_InputMessage" />
      <wsdl:output wsaw:Action="http://epam.com/NorthwindService/ICategoriesService/GetCategoryImageResponse" message="tns:ICategoriesService_GetCategoryImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCategoryImage">
      <wsdl:input wsaw:Action="http://epam.com/NorthwindService/ICategoriesService/SaveCategoryImage" name="SendingCategory" message="tns:SendingCategory" />
      <wsdl:output wsaw:Action="http://epam.com/NorthwindService/ICategoriesService/SaveCategoryImageResponse" message="tns:ICategoriesService_SaveCategoryImage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>