Tests/Service References/OrdersService/OrdersService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://epam.com/NorthwindService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://epam.com/NorthwindService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://epam.com/NorthwindService/Imports">
      <xsd:import schemaLocation="http://epruizhw0228.moscow.epam.com/NorthwindWCFServices/OrdersService.svc?xsd=xsd0" namespace="http://epam.com/NorthwindService" />
      <xsd:import schemaLocation="http://epruizhw0228.moscow.epam.com/NorthwindWCFServices/OrdersService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://epruizhw0228.moscow.epam.com/NorthwindWCFServices/OrdersService.svc?xsd=xsd2" namespace="http://epam.com/NorthwindServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrdersService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IOrdersService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdersService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IOrdersService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdersService_DeleteOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrder" />
  </wsdl:message>
  <wsdl:message name="IOrdersService_DeleteOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdersService_CreateNewOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewOrder" />
  </wsdl:message>
  <wsdl:message name="IOrdersService_CreateNewOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdersService_UpdateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrder" />
  </wsdl:message>
  <wsdl:message name="IOrdersService_UpdateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdersService_ProcessOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessOrder" />
  </wsdl:message>
  <wsdl:message name="IOrdersService_ProcessOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdersService_CloseOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CloseOrder" />
  </wsdl:message>
  <wsdl:message name="IOrdersService_CloseOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdersService_SimulateLongRunningOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:SimulateLongRunningOperation" />
  </wsdl:message>
  <wsdl:message name="IOrdersService_SimulateLongRunningOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SimulateLongRunningOperationResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdersSubscriptionService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IOrdersSubscriptionService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdersSubscriptionService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IOrdersSubscriptionService_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdersSubscriptionService_OrderStatusIsChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OrderStatusIsChanged" />
  </wsdl:message>
  <wsdl:portType name="IOrdersService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://epam.com/NorthwindService/IOrdersService/GetAll" message="tns:IOrdersService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://epam.com/NorthwindService/IOrdersService/GetAllResponse" message="tns:IOrdersService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://epam.com/NorthwindService/IOrdersService/GetById" message="tns:IOrdersService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://epam.com/NorthwindService/IOrdersService/GetByIdResponse" message="tns:IOrdersService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <wsdl:input wsaw:Action="http://epam.com/NorthwindService/IOrdersService/DeleteOrder" message="tns:IOrdersService_DeleteOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://epam.com/NorthwindService/IOrdersService/DeleteOrderResponse" message="tns:IOrdersService_DeleteOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewOrder">
      <wsdl:input wsaw:Action="http://epam.com/NorthwindService/IOrdersService/CreateNewOrder" message="tns:IOrdersService_CreateNewOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://epam.com/NorthwindService/IOrdersService/CreateNewOrderResponse" message="tns:IOrdersService_CreateNewOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <wsdl:input wsaw:Action="http://epam.com/NorthwindService/IOrdersService/UpdateOrder" message="tns:IOrdersService_UpdateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://epam.com/NorthwindService/IOrdersService/UpdateOrderResponse" message="tns:IOrdersService_UpdateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessOrder">
      <wsdl:input wsaw:Action="http://epam.com/NorthwindService/IOrdersService/ProcessOrder" message="tns:IOrdersService_ProcessOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://epam.com/NorthwindService/IOrdersService/ProcessOrderResponse" message="tns:IOrdersService_ProcessOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseOrder">
      <wsdl:input wsaw:Action="http://epam.com/NorthwindService/IOrdersService/CloseOrder" message="tns:IOrdersService_CloseOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://epam.com/NorthwindService/IOrdersService/CloseOrderResponse" message="tns:IOrdersService_CloseOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SimulateLongRunningOperation">
      <wsdl:input wsaw:Action="http://epam.com/NorthwindService/IOrdersService/SimulateLongRunningOperation" message="tns:IOrdersService_SimulateLongRunningOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://epam.com/NorthwindService/IOrdersService/SimulateLongRunningOperationResponse" message="tns:IOrdersService_SimulateLongRunningOperation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IOrdersSubscriptionService">
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://epam.com/NorthwindService/IOrdersSubscriptionService/Subscribe" message="tns:IOrdersSubscriptionService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://epam.com/NorthwindService/IOrdersSubscriptionService/SubscribeResponse" message="tns:IOrdersSubscriptionService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <wsdl:input wsaw:Action="http://epam.com/NorthwindService/IOrdersSubscriptionService/Unsubscribe" message="tns:IOrdersSubscriptionService_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://epam.com/NorthwindService/IOrdersSubscriptionService/UnsubscribeResponse" message="tns:IOrdersSubscriptionService_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrderStatusIsChanged">
      <wsdl:output wsaw:Action="http://epam.com/NorthwindService/IOrdersSubscriptionService/OrderStatusIsChanged" message="tns:IOrdersSubscriptionService_OrderStatusIsChanged_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>